@font-face {
  font-family: 'Promo';
  src: local('MyFont'), url(./assets/fonts/Promo-Regular.otf) format('woff');
}
@font-face {
  font-family: 'PromoBold';
  src: local('MyFont'), url(./assets/fonts/Promo-Bold.otf) format('woff');
}
@font-face {
  font-family: 'PromoMedium';
  src: local('MyFont'), url(./assets/fonts/Promo-Medium.otf) format('woff');
}